{% extends 'header.html' %}

{% load static %}

{% block content %}

<link rel="shortcut icon" href="{% static '/img/inter_ico.png' %}" type="image/x-icon">
<body>
    
    <main>
        <div class="BodyDiv">
            <link rel="stylesheet" href="{% static 'css/main.css' %} ">
            <nav class="navPrincipal">

                <div class="navContain pg1">
                    <!--Page-IdBall-PriceVariavel-->
                    <!----0----0---------0-->
                    <img class="NextBalls" id="nxtIdLeft" onclick="ChangePage(false)" src="{% static 'img/nextL.svg' %}" alt="">
                    <div class="NavBall" id="1-1-3">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="1-2-2">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="1-3-1">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="1-4-2">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="1-5-3">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <img class="NextBalls" id="nxtIdRight" onclick="ChangePage(true)" src="{% static 'img/nextR.svg' %}" alt="">
                </div>

                <div class="navContain pg2 no" >
                    <!--Page-IdBall-PriceVariavel-->
                    <!----0----0---------0-->
                    <img class="NextBalls" id="nxtIdLeft" onclick="ChangePage(false)" src="{% static 'img/nextL.svg' %}" alt="">
                    <div class="NavBall" id="2-1-5">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="2-2-4">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="2-3-3">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="2-4-4">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="2-5-5">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <img class="NextBalls" id="nxtIdRight" onclick="ChangePage(true)" src="{% static 'img/nextR.svg' %}" alt="">
                </div>

                <div class="navContain pg3 no" >
                    <!--Page-IdBall-PriceVariavel-->
                    <!----0----0---------0-->
                    <img class="NextBalls" id="nxtIdLeft" onclick="ChangePage(false)" src="{% static 'img/nextL.svg' %}" alt="">
                    <div class="NavBall" id="3-1-7">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="3-2-6">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="3-3-5">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="3-4-6">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="3-5-7">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <img class="NextBalls" id="nxtIdRight" onclick="ChangePage(true)" src="{% static 'img/nextR.svg' %}" alt="">
                </div>

                <div class="navContain pg4 no" >
                    <!--Page-IdBall-PriceVariavel-->
                    <!----0----0---------0-->
                    <img class="NextBalls" id="nxtIdLeft" onclick="ChangePage(false)" src="{% static 'img/nextL.svg' %}" alt="">
                    <div class="NavBall" id="4-1-9">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="4-2-8">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="4-3-7">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="4-4-8">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="4-5-9">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <img class="NextBalls" id="nxtIdRight" onclick="ChangePage(true)" src="{% static 'img/nextR.svg' %}" alt="">
                </div>

                <div class="navContain pg5 no" >
                    <!--Page-IdBall-PriceVariavel-->
                    <!----0----0---------0-->
                    <img class="NextBalls" id="nxtIdLeft" onclick="ChangePage(false)" src="{% static 'img/nextL.svg' %}" alt="">
                    <div class="NavBall" id="5-1-9">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="5-2-9">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="5-3-8">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="5-4-9">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <div class="NavBall" id="5-5-9">
                        <img class="NavBallImg" src="{% static 'img/NoneStorie.svg' %}" alt="" srcset="">
                    </div>
                    <img class="NextBalls" id="nxtIdRight" onclick="ChangePage(true)" src="{% static 'img/nextR.svg' %}" alt="">
                </div>




                <div class="navPageContain">
                    <div class="PageNavBall PageNavBallSelected " onclick="NavBallPageClick('ToPage1')" id="ToPage1"></div>
                    <div class="PageNavBall" onclick="NavBallPageClick('ToPage2')" id="ToPage2"></div>
                    <div class="PageNavBall" onclick="NavBallPageClick('ToPage3')" id="ToPage3"></div>
                    <div class="PageNavBall" onclick="NavBallPageClick('ToPage4')" id="ToPage4"></div>
                    <div class="PageNavBall" onclick="NavBallPageClick('ToPage5')" id="ToPage5"></div>
                </div>
            </nav>
            <div>
                <div class="PageBody">
                    <div id="CXMID-1" class="ContainXMAin">
                        <div class="RetangleContainerItem" id="LojasCY">
                          <div class="TextBoxCY">
                            <span class="TextInItemImage UPPERCASE">Soluções</span>
                            <span class="TextInItemImage LOWERCASE">para seu</span>
                            <span class="TextInItemImage UPPERCASE">pequeno</span>
                            <span class="TextInItemImage LOWERCASE">negocio</span>
                            <span class="TextInItemImage UPPERCASE">ou loja</span>
                          </div>
                        <div class="TextTitleCY">
                            <span class="TitleInImage TextInItemImage UPPERCASE"> lojas</span>
                        </div>
                        </div>
                        <div class="RetangleContainerItem" id="EmpresasCY">
                            <div class="TextBoxCY">
                                <span class="TextInItemImage UPPERCASE">Distribua</span>
                                <span class="TextInItemImage LOWERCASE">seus produtos</span>
                                <span class="TextInItemImage UPPERCASE">facilmente</span>
                                <span class="TextInItemImage LOWERCASE">e negocie</span>
                                <span class="TextInItemImage UPPERCASE">com outros</span>
                              </div>
                            <div class="TextTitleCY">
                                <span class="TitleInImage TextInItemImage UPPERCASE"> EMPRESAS</span>
                            </div>
                        </div>
                        <div class="RetangleContainerItem" id="PessoasCY">
                            <div class="TextBoxCY">
                                <span class="TextInItemImage UPPERCASE">Encontre</span>
                                <span class="TextInItemImage LOWERCASE">Empregos</span>
                                <span class="TextInItemImage UPPERCASE">pessoas</span>
                                <span class="TextInItemImage LOWERCASE">e mais</span>
                                <span class="TextInItemImage UPPERCASE">para pessoas</span>
                                
                              </div>
                            <div class="TextTitleCY">
                                <span class="TitleInImage TextInItemImage UPPERCASE"> PESSOAS</span>
                            </div>
                        </div>
                    </div>
                    <div id="CXMID-2" class="ContainXMAin">
                        <div class="InfoBoxSpace">
                            <div class="CXMID-2-PropTextBOX">
                                <span class="TextInItemImage CXMID-2TextProp UPPERCASE " > DISTRIBUA</span>
                                <span class="TextInItemImage CXMID-2TextProp LOWERCASE " > EXPLORE</span>
                                <span class="TextInItemImage CXMID-2TextProp UPPERCASE " > TRABALHE</span>
                                <span class="TextInItemImage CXMID-2TextProp LOWERCASE " > ORGANIZE </span>
                                <span class="TextInItemImage CXMID-2TextProp UPPERCASE " > IMAGINE</span>
                            </div>
                            <div>
                                <img id="CXMID-2-Logo" src="{% static 'img/logo_intermiddle.png' %}" alt="">
                            </div>
                            <div class="CXMID-2-PropTextBOX">
                                <span class="TextInItemImage CXMID-2TextProp UPPERCASE " > Conectando</span>
                                <span class="TextInItemImage CXMID-2TextProp LOWERCASE " > criatividade</span>
                                <span class="TextInItemImage CXMID-2TextProp UPPERCASE " > arte</span>
                                <span class="TextInItemImage CXMID-2TextProp LOWERCASE " > negocios</span>
                                <span class="TextInItemImage CXMID-2TextProp UPPERCASE " > pessoas</span>
                            </div>
                        </div>
                    </div>
                    
                        </div>
                    </div>
                </div>
                <div id="CXMID-3" class="ContainXMAin">
                    <div class="CXMID-3Body">
                        <div class="">
    
                        </div>
                        <div class="CXMID-3MainImg">
                            <div class="CXMID-3Box 3-1">
                                <span class="TextInItemImage CXMID-3TextProp UPPERCASE ">Descubra o mundo</span>
                                <span class="TextInItemImage CXMID-3TextProp LOWERCASE ">Aqui você é livre</span>
                                <img id="Engrenagem" class="EngrenagemM" src="{% static 'img/EngrenagemLogo.svg' %}" alt="Engrenagem">
                                <span class="TextInItemImage CXMID-3TextProp UPPERCASE ">Gire a sua Engrenagem</span>

                            </div>
                                <div class="CXMID-3Box x-3-end">
                                    <span class="TextInItemImage CXMID-3TextProp  UPPERCASE ">Intermiddle Oficial</span>
                                    <a class="TextInItemImage CXMID-3TextProp CXMID-3end UPPERCASE  " href="">Creditos</a>
                                    <a class="TextInItemImage CXMID-3TextProp  UPPERCASE  " href="">Termos de uso</a>
                                    <a class="TextInItemImage CXMID-3TextProp CXMID-3end UPPERCASE  " href="">Fim</a>
                                </div>
                           
                        </div>
                </div>
        
                </div>
                
            </div>
            
        </div>
    </main>
<script src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
{% endblock %}

