html{
    overflow-x: hidden;
}

nav{
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    background-color:#E8E8E8 ;
    
}
#nav_container_balls{
    margin-top: 60px;
    display: flex;
    width: 100vw;
    height: 300px;
    
    align-items: center;
    justify-content: center;
}

.nav_ball{
    
    margin-top: 32px ;
    margin-left: 12px;
    width: 260px;
    height: 260px;
    background-color: #8C14FC;
    border-radius: 50%;
}

#nav_container_ops{
    display: flex;
    
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nav_op_choose{
    display: flex;
    background-color: rgb(209, 209, 209);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 3px;
    border: 1px solid white;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
}

.nav_op_choose:hover{
    border: 1px solid #b76bff;
    background-color: #d8aeff;
}
section{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 1300px;
    background-color: #2E3131;
    
    align-items: center;
    
    
}
#section_ops_type{
    width: 1300px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section_select{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 400px;
    height: 800px;
    background-color: #8C14FC;
    border: 1px solid white;
    cursor: pointer;
    transition: 1s;
    
    
}
.section_select:hover{
    padding: 0px;
    border: 1px solid #b76bff;
    box-shadow: 0px 0px 10px 3px #ae57ff;
}

.bottom_pre_section{
    margin-top:500px;
    align-self: flex-end;
    width: 400px;
    height: 150px;
    background-image: linear-gradient( #2e313100,#2E3131 );
    display: flex;
    justify-content: center;
}

.top_pre_section{
    align-self: flex-start;
    width: 400px;
    height: 150px;
    background-image: linear-gradient( #2E3131,#2e313100 )
}
footer{
    width: 100vw;
    height: 200px;
}

#section_table{
    color: white;
}

#box_help{
    flex-direction: column;
    position: fixed;
    display: flex;
    
    width: 400px;
    height: 600px;
    top: 60vh;
    left: 85vw;
    justify-content: flex-end;
}

#balao_mascote_flutuante{
    
    width: 400px;
    height: 300px;
    cursor: pointer;
}


@media (max-width: 2000px){
    #box_help{
        top: 59vh;
        left: 81vw;
    }
    #balao_mascote_flutuante{

    }

}

@media (max-height: 1500px){
    #box_help{
        top: 42vh;
        left: 82vw;
    }


}
@media (max-height: 1000px){
    #box_help{
        top: 30vh;
        left: 81vw;
        transform: scale(0.6);
    }
    
    #section_ops_type{
        transform:  scale(0.8);
        margin-top: -100px;
      
    }
    .nav_ball{
        transform: scale(0.8);
        margin-left: -40px;
    }
    #nav_container_balls{
        margin-left: 30px;
    }
}

.top_pre_section{
    display: flex;
    justify-content: center;
}

.title_top_section{
    margin-top: 10px;
    font-size: 20px;
    color: white;
    word-wrap: break-word;
}
.title_bottom_section{
    margin-top: 10px;
    font-size: 20px;
    color: white;
    word-wrap: break-word;
}

@media screen and (max-width: 1025px){
    html{
        overflow-x: hidden;
        overflow-y: visible;
    }
    body{
        overflow-x: hidden;
        overflow-y: visible;
    }
    .nav_ball{
        
        width: 70px;
        height: 70px;
        margin-left: 12px;
        left: 10px;
    }
    #nav_container_balls{
        height: 100px;
        margin-left: -8px;
        width: 100vw;
        
        justify-content: center;
    }
    .nav_op_choose{
        width: 8px;
        height: 8px;
    }
    #nav_container_ops{
        margin-top: 20px;
        height: 10px;
    }
    nav{
        height: 150px;
    }
    #section_ops_type{
        margin-top: 800px;
        flex-direction: column;
    }
    .section_select{
        margin-left: 4px;
        margin-bottom: 10px;
    }
    section{
        height: 2550px;
    }
    #box_help{
        display: none;
    
}

@media screen and (max-width: 480px){
    html{
        overflow-x: hidden;
        overflow-y: visible;
    }
    body{
        overflow-x: hidden;
        overflow-y: visible;
    }
    .nav_ball{
        
        width: 70px;
        height: 70px;
        margin-left: 12px;
        left: 10px;
    }
    #nav_container_balls{
        height: 100px;
        margin-left: -8px;
        width: 100vw;
        
        justify-content: center;
    }
    .nav_op_choose{
        width: 8px;
        height: 8px;
    }
    #nav_container_ops{
        margin-top: 20px;
        height: 10px;
    }
    nav{
        height: 150px;
    }
    #section_ops_type{
        margin-top: 500px;
        flex-direction: column;
    }
    .section_select{
        margin-left: 4px;
        margin-bottom: 10px;
    }
    section{
        height: 2050px;
    }
    #box_help{
        display: none;
    }

}