{% load static %}
<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static '/css/Register.css' %}">
    <script src="{% static '/js/header.js' %}"></script>
    <script src="{% static '/js/jquery-3.5.1.js' %}"></script>
    <link rel="shortcut icon" href="{% static '/img/inter_ico.png' %}" type="image/x-icon">
</head>
<body>
    

   
    <div class="main">
        <div  id="logos_container" class="LogoContainer logos_space">
            <img id="logoDentro" class="logo_RegisterPanel" src="{% static '/img/logo_dentro.png' %}" alt="Voltar para O inicio" onclick="window.location.href = '../home/main.html'" srcset="">
            <img id="logoMedio" class="logo_RegisterPanel" src="{% static '/img/logo_medio.png' %}" alt="Voltar para O inicio" onclick="window.location.href = '../home/main.html'" srcset="">
            <img id="logoFora" class="logo_RegisterPanel" src="{% static '/img/logo_fora.png' %}" alt="Voltar para O inicio" onclick="window.location.href = '../home/main.html'" srcset="">
        </div>
        <span id="aviso" class="no">
            Por favor preencha todos os campos
        </span>
        <form  class='container' id="Register_form" action="" >
            <div id="selectType">
                <button class="btnInRegisterSelectPanel" id="EmpresaBtn">Empresa</button>
                <button class="btnInRegisterSelectPanel selectedTypeOf" id="PessoaBtn">Pessoa</button>
                <button class="btnInRegisterSelectPanel" id="LojaBtn">Loja</button>
            </div>
            <span id="RegisterText">Registrar</span>
            <input class="main_input_Register" id="userName"required placeholder="Nome de usuario"type="text">
            <input class="main_input_Register" id="empresaName" required placeholder="Nome da Empresa"type="text">
            <input class="main_input_Register" id="Cnpj" required placeholder="Cnpj"type="text">
            <input class="main_input_Register" id="lojaName" required placeholder="Nome da Loja"type="text">
            <input class="main_input_Register" id="telefoneNumber" required placeholder="Telefone com DDD"type="text">
            <input class="main_input_Register" id="fullName" required placeholder="Nome Completo"type="text">
            <input class="main_input_Register" id="email" required placeholder="Email" type="text">
            <input class="main_input_Register" id="senha" required placeholder="Senha"type="text">
            <input class="main_input_Register" id="senha2" required placeholder="Repita a senha"type="text">
            <input class="main_input_Register" id="cidade"required placeholder="Cidade"type="text">
            <input class="main_input_Register no_work" id="Infos "required placeholder="Infos extras"type="text">
            <select class="main_input_Register" id="estado"required placeholder="Estado" name="" id="">
                

               <option value="AC">Acre</option>
               <option value="AL">Alagoas</option>
               <option value="AP">Amapá</option>
               <option value="AM">Amazonas</option>
               <option value="BA">Bahia</option>
               <option value="CE">Ceará</option>
               <option value="DF">Distrito Federal</option>
               <option value="ES">Espirito Santo</option>
               <option value="GO">Goiás</option>
               <option value="MA">Maranhão</option>
               <option value="MT">Mato Grosso</option>
               <option value="MS">Mato Grosso do sul</option>
               <option value="MG">Minas Gerais</option>
               <option value="PA">Pará</option>
               <option value="PB">Paraíba</option>
               <option value="PR">Paraná</option>
               <option value="PE">Pernambuco </option>
               <option value="PI">Piauí </option>
               <option value="RJ">Rio de Janeiro</option>
               <option value="RN">Rio Grande do Norte</option>
               <option value="RS">Rio Grande do Sul</option>
               <option value="RO">Rondônia</option>
               <option value="RR">Roraima </option>
               <option value="SC">Santa Catarina</option>
               <option value="SP">São Paulo</option>
               <option value="SE">Sergipe</option>
               <option value="TO">Tocantins</option>
            </select>
            <a id="RegisterErrorHelperA"href="">Preciso de ajuda</a>
            <div class='container' id="mainButtonSpace">
                <div id="Terms_allow">
                    <input type="checkbox" name="" id="Termos_use_allow">
                    <span id="RemeberText">Eu concordo com os termos de uso</span>
                </div>
                <div id=Remenber_Register>
                    <input type="checkbox" name="" id="checkRemember">
                    <span id="RemeberText">Lembrar de mim</span>
                </div>
                <button class="btnInRegisterPanel " id="Register_btn">Registrar</button>
                <a id="termsTextShow" href="">Termos de uso</a>
            </div>
            
        </form>
    </div>
  
</body>
<script src="{% static '/js/jquery-3.5.1.js' %}"></script>
<script src="{% static '/js/register.js' %}"></script>
</html>